.navBar{
width: 1440px;
height: 99px;
left: 0px;
top: 0px;
background: #e1e1e1;
display: flex;
flex-direction: row;

}
.logo{
position: absolute;
width: 274px;
    height: 146px;
    left: 160px;
    top: -28px;
}
li{
    text-decoration: none;
    position: absolute;
width: 460px;
height: 25px;
left: 490px;
top: 36px;

 
}
nav{
    display: flex;
    flex-direction: row;
    width: 1069px;
    height: 66px;
    left: 185px;
    top: 16px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
}
.btn-1{
    position: absolute;
width: 195px;
height: 50px;
left: 1059px;
top: 24px;
background: #8BD5E0;
border-radius: 10px;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
}
.cl1{
    position: absolute;
width: 56px;
height: 25px;
left: 490px;
top: 36px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #007997;
}
.cl2{
position: absolute;
width: 86px;
height: 25px;
left: 596px;
top: 36px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}
.cl3{
position: absolute;
width: 86px;
height: 25px;
left: 732px;
top: 36px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}
.cl4{
position: absolute;
width: 86px;
height: 25px;
left: 878px;
top: 36px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}
.n1{
    position: absolute;
    width: 100%;
    height: 670px;
    left: 0px;
    top: 99px;
    background: #F6F6F6;
}
.innerDiv{
position: absolute;
width: 73.4%;
height: 391px;
left: 191px;
top: 158px;
display: flex;
flex-direction: row;
}
.txtDiv{
position: absolute;
width: 558px;
height: 313px;
left: 20px;
top: 34px;
display:flex;
flex-direction: column;
}
.the-btn{
display: flex;
flex-direction: row;
gap: 30px;
width: 357px;
height: 67px;
left: 192px;
top: 523px;
}
.btn-2{
width: 219px;
height: 67px;
left: 192px;
top: 523px;
background: #8BD5E0;
border-radius: 10px;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
}
.lN{
    position: absolute;
    width: 128px;
    height: 25px;
    left: 250px;
    top: 284px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #000000;    
}
.ImgDiv{
position: absolute;
width: 414px;
height: 331px;
left: 610px;
top: 32px;

background: url(images/firstpng.png);
}
h1{
width: 558px;
height: 130px;
left: 191px;
top: 257px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #007997;
}
h2{
width: 461px;
height: 46px;
left: 191px;
top: 255px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
color: #161632;
}
.mid-1{
position: absolute;
width: 100%;
height: 407px;
left: 0px;
top: 769px;
background: #8BD5E0;
display: flex;
flex-direction: column;
}
h3{
position: absolute;
width: 450px;
height: 30px;
left: 520px;
top: 138px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #000000;
text-align: center;
}
.systems{
    display: flex;
    flex-direction: row;
    width: 1063px;
    height: 40px;
    left: 188px;
    top: 228px;
    position: absolute;
    justify-content: space-between;
}
.mid-2{
    position: absolute;
width: 100%;
height: 689px;
left: 0px;
top: 1176px;

background: #EBEBEB;
}
.mid-3{
position: absolute;
width: 100%;
height: 1505px;
left: 0px;
top: 1865px;

background: #D9D9D9;
}
.mid-4{
    position: absolute;
width: 100%;
height: 488px;
left: 0px;
top: 3370px;

background: #8BD5E0;
}
.mid-5{
    position: absolute;
width: 100%;
height: 752px;
left: 0px;
top: 3858px;

background: #EBEBEB;
}
.mid-6{
    position: absolute;
width: 100%;
height: 529px;
left: 0px;
top: 4610px;

background: #D9D9D9;
}
.last{
    position: absolute;
width: 100%;
height: 476px;
left: 0px;
top: 5139px;

background: #FFFFFF;
}
.Azure{
    position: absolute;
width: 79px;
height: 28.5px;
left: 18px;
}
.aws{
    position: absolute;
    width: 45px;
height: 33px;
left: 176px;
}
.googleC{
    position: absolute;  
    width: 131px;
height: 33px;
left:310px;
}
.vmware{
    position: absolute;
    width: 136px;
height: 34.5px;
left: 490px;
}
.ibm{
    position: absolute;
    width: 162.5px;
height: 38.5px;
left: 675px;
}
.kubernetes{
    position: absolute;
    width: 164.5px;
height: 40px;
left: 930px;
}
.innerDiv-2{
    height: 407px;
    width: 73%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    left: 15%;
}
.ImgCrystal{
width: 354.52px;
height: 374.97px;
left: 200px;
top: 1335px;
}
.TxtDiv-2{
width: 547px;
height: 407px;
left: 706px;
top: 1317px;
margin-left: 15%;
display: flex;
flex-direction: column;
}
h4{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #a1a1a1;
margin-top: -20px;
}
h5{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #a1a1a1;
margin-top: -5x;
}
.Mtxt{
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
}
.Ltxt{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #a1a1a1;
}
.btn-3{
width: 219px;
height: 56px;
left: 706px;
top: 1668px;
background: #8BD5E0;
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: none;
font-weight: 700;
font-size: 17px;
line-height: 25px;
color: #FFFFFF;
}
.lN-2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-decoration-line: underline;
color: #13f287;
margin-left: 30px;
}
.innerDiv-3{
    width: 75%;
    height: 113px;
    display: flex;
    position: relative;
}
.LargeImg{
    margin-left: 232px;
    margin-top: 103px;
}
.mid3-txt{
    margin-top: 185px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.mid3txt-2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;
text-align: center;
color: #000000;
}
.mid4txt{
margin-top: 144px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 60px;
text-align: center;
color: #000000;
}
.mid4txt-2{
    margin-top: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
text-align: center;
color: #000000;
}
.innerDiv-5{
position: absolute;
width: 1066px;
height: 586px;
left: 227px;
top: 85px;
background: #FFFFFF;
border-radius: 20px;
display: flex;
flex-direction: column;
}
.innerDiv-5a{
    width: 893px;
    height: 279.72px;
    margin-left: 89px;
    margin-top: 156px;
    display: flex;
    flex-direction: row;
    gap: 119px;
}
.innerDiv-5b{
    width: 415px;
height: 272px;
}
.mid5-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #000000;
    margin-top: 0px;
}
.mid5-txt2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    margin-top: 35px;
    color: #000000;
}
.btn-4{
    width: 219px;
    height: 72px;
    background: #8BD5E0;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 37px;
border: none;
color: #FFFFFF;
}
.arrows{
    display: flex;
    flex-direction: row;
    margin-left: 898px;
    margin-top: 59.28px;
    gap: 20px;
}
.innerDiv-6{
width: 789px;
height: 310px;
margin-top: 80px;
margin-left: 325px;
display: flex;
flex-direction: column;
}
.mid6-txt{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 80px;
text-align: center;
color: #000000;
margin-left: 80px;
margin-bottom: 0;
}
.mid6-txt2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 40px;
text-align: center;
color: #000000;
margin-top: 0px;
margin-left: 80px;
}
.btn-5{
border: none;
width: 230px;
height: 50px;
background: #8BD5E0;
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
margin-left: 40%;
margin-top: 5%;
}
.lastLogo{
    margin-top: 122px;
    margin-left: 185px;
}
.small-logo{
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 25px;
    margin-top: 45px;
    margin-left: 186px;
    justify-content: space-between;
}
.About-Us{
    width: 139px;
height: 209px;
margin-top: 122px;
margin-left: 167px;
}
footer{
    display: flex;
    flex-direction: row;
}
.solutions{
background: black;
width: 116px;
height: 175px;
margin-left: 47px;
margin-top: 122px;
}
.Resource{
    background: black;
    width: 125px;
height: 175px;
margin-top: 122px;
margin-left: 47px;
}
.Contact{
    background: black;
    width: 287px;
height: 107px;
margin-top: 122px;
margin-left: 47px;
}
.Htxt{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #8BD5E0;
}
